
$fullhd: 1200px + (2 * $gap);
$section-padding-desktop: 3rem 0;

//colors
$black-light: #020202;
$sand: #d3c3ae;


//font-family
$family-primary: 'Quicksand', sans-serif;
$family-secundary: "Times New Roman", Times, serif;

//line-height
$line-height1: 40px;
$line-height2: 50px;

//font-size
$is-size-1: 60px;
$is-size-2: 28px;
$is-size-3: 25px;