@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./variables";

@import "../node_modules/bulma/bulma";

.body {
    background-color: #fafafa;
    max-width: 100vw;
    margin: 0
}

.hero.is-primary {
    background-color: white;
    height: 349px;
    padding-top: 0;
}

.section-white {
    height: 50px;
}

.has-text-left {
    padding-left: 300px;
    padding-top: 0;
}

.kako-izgleda {
    padding-bottom: 25px;
    font-family: $family-primary;
    font-size: $is-size-2;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: $is-size-1;
    font-weight: 500;
    padding-bottom: 50px;
}

.getacore-text {
    font-family: $family-primary;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.67;
    color: #020202;
}

.title-beige {
    color: #d1c2af;
    font-size: $is-size-1;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 50px;
}

.savjet-tekst {
    padding-bottom: 25px;
    font-family: $family-primary;
    font-size: $is-size-3;
    padding-bottom: 0; 
}

ul {
    list-style: none;
}
ul li::before {
    content: "\25AA";  
    color: $sand; 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
    
  }

  .caption {
    padding-bottom: 25px;
    font-family: $family-primary;
    font-size: $is-size-3;
    padding: 0; 
}

.title-beige-underline {
    color: #d1c2af;
    font-size: $is-size-1;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding-bottom: 50px;
}

.saznajte {
    padding-bottom: 25px;
}

.footer {
    background-color: $white;
}

.container-footer {
    display: flex;
    justify-content: center;
    
    a {
        padding-right: 50px;
    }

    .sadrzaj {
        padding-right: 50px;
    }
}

.kupaonice {
    display: flex;
    justify-content: space-evenly;

}

.kupaonica1 {
    width: 40%;   
}

.kupaonica2 {
    width: 40%;
}

.kvadratic1 {
    position: absolute;
    left: 0;
}

//Mobile
@media screen and (max-width: 768px) {

    .hero.hero.is-primary {
        padding: 0;
        height: 60px;
    }

    .hero-body.first-body {
        padding: 0;
    }

    .hero-body {
        padding-top: 40px;
    }

    .hero-body-mobile {
        padding-top: 0;
    }

    .natpis-kako-izgleda {
        width: 80%;
    }
    .kako-izgleda {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 12px;
        padding-left: 5px;
        width: 100%;
    }
    .has-text-left {
        padding-left: 55px;
        padding-top: 10px;
    }

    .has-text-centered {
        padding: 0;
    }

    .kvadratic1 {
        position: absolute;
        left: 0;
        max-width: 5%;
    }

    .video {
        width: 460px;
        height: 215px;
    }

    .title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 5px;
    }
    .getacore-text {
        font-family: $family-primary;
        font-weight: 500;
        font-size: 12px;
        color: #020202;
    }

    .title-beige {
        color: #d1c2af;
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 20px;
    }

    .title-beige-underline {
        color: #d1c2af;
        font-size: 23px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        padding-bottom: 20px;
    }

    .savjet-tekst {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 12px;
        padding-bottom: 0; 
    }

    .caption {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 9px;
        padding: 0; 
    }

    .sadrzaj {
        padding-left: 20px;
        font-size: 7px;
    }

    .getacore-logo {
        width: 230px;
        height: 31px;
    }

    .vrste-mramora {
        width: 220px;
        height: 177px;
    }

    .section-white {
        height: 10px;
    }

    .amz {
       width: 123px;
       height: 27px; 
    }

    .elgrad {
        width: 123px;
        height: 32px;
    }
}

//Tablet

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .hero.hero.is-primary {
        padding-top: 0;
    }

    .hero-body.first-body {
        padding: 0;
    }

    .hero-body {
        padding-top: 100px;
        padding-bottom: 0;
    }
.hero-body-mobile {
    padding-bottom: 100px;
}

    .natpis-kako-izgleda {
        width: 80%;
    }
    .kako-izgleda {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 11px;
        padding-left: 20px;
        width: 100%;
    }
    .has-text-left {
        padding-left: 55px;
        padding-top: 10px;
    }

    .hero-body.has-text-center {
        padding-top: 10px;

    }

    .has-text-centered {
        padding-top: 20px;
    }

    .kvadratic1 {
        position: absolute;
        left: 0;
        width: 5%;
        height: 3%;
    }

    .video {
        width: 460px;
        height: 215px;
    }

    .traka {

        padding-left: 40px;
        padding-right: 40px;
    }

    .title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 23px;
        font-weight: 500;
        padding-bottom: 5px;
        color: #020202;
    }
    .getacore-text {
        font-family: $family-primary;
        font-weight: 500;
        font-size: 12px;
        color: #020202;
    }

    .title-beige {
        color: #d1c2af;
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 20px;
    }

    .title-beige-underline {
        color: #d1c2af;
        font-size: 24px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
        padding-bottom: 20px;
    }

    .savjet-tekst {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 12px;
        padding-bottom: 0; 
    }

    .caption {
        padding-bottom: 25px;
        font-family: $family-primary;
        font-size: 9px;
        padding: 0; 
    }

    .sadrzaj {
        padding-left: 20px;
        font-size: 7px;
    }

    .getacore-logo {
        width: 230px;
        height: 31px;
    }

    .vrste-mramora {
        width: 220px;
        height: 177px;
    }

    .section-white {
        height: 10px;
    }
.container-footer {
    padding-top: 20px;
    height: 300px;
}

}

//iPad Pro
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .hero.is-primary {
        padding-bottom: 0;
        height: 249px;
    }

    .tablet-hero {
        padding-top: 20px;
    }

    .natpis-kako-izgleda {
        width: 85%;
    }

    .tablet-natpis {
        padding-left: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .kvadratic1 {
        height: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tablet-hero {
        padding-top: 0;
    }
}